.App {
  margin: 10px;
}

.card{
  margin: 5px;
}

.card-block{
  text-align: center;
}

.card-block button{
  background-color: blue;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
}

.card-block label{
  font-size: 30px;
  margin-top: 20px;
}

.card-block p{
  font-size: 30px;
}

.col-md-3{
  display: flex;
  flex-direction: row;
}
